.vs/Master Arepa/v15/Server/sqlite3/storage.ide-wal
.vs/Master Arepa/v15/Server/sqlite3/storage.ide-shm
.vs/Master Arepa/v15/Server/sqlite3/storage.ide
.vs/Master Arepa/v15/Server/sqlite3/db.lock
Master Arepa/ClientApp/node_modules/
Master Arepa/package-lock.json
.vscode/tasks.json
.vscode/launch.json
Master Arepa/ClientApp/src/auth_config.json
